.xstudio-prompt {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 300px auto 500px;
  .left {
    .prompt-explorer {
      overflow-y: auto;
      .module-title {
        font-size: 18px;
      }
      .module-content {
        padding-top: 8px;
        display: flex;
        align-items: center;
      }
      .ant-collapse {
        border-radius: 0;
      }
      .ant-tree {
        background: transparent;
      }
    }
  }
  .center {
    border-left: 1px solid rgba(5, 5, 5, 0.1);
    border-right: 1px solid rgba(5, 5, 5, 0.1);
    .prompt-editor {
    }
  }
  .right {
    .prompt-debug {
      .debug-title {
      }
    }
  }
}
